@font-face {
    font-family: 'Viafont Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Viafont Regular'), url('Viafont.woff') format('woff');
    }

h1 {
    font-family: 'Viafont Regular' !important;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}