@font-face {
    font-family: 'Viafont Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Viafont Regular'), url('../containers/Viafont.woff') format('woff');
    }

#card {
    margin: 1em;
    color: cornsilk;
    background: #333;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, rgb(55, 69, 109), rgb(31, 33, 49));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, rgb(55, 69, 109), rgb(31, 33, 49)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10%;
    /* border: 0.2em solid black; */
}