#scroller {
    overflow-y: scroll;
    border-top: solid 3px transparent;
    border-image: linear-gradient(to left, #928DAB 0%, #333 20%, #333 80%, #928DAB 100%);
    border-image-slice: 1;
    border-bottom: solid transparent 3px;
    height: 600px;
}
/* font-size: 48px;
font-weight: 800;
background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
    background-clip: border-box;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */